<section class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center"><b>Fruits</b></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items; let i = index"
        class="draggable"
        [class.active]="draggedOverIndex == i"
        draggable="true"
        (dragover)="allowDrop($event, i)"
        (dragstart)="onDragStart(i)"
        (drop)="onDrop($event, i)"
    >
      <td>{{item}}</td>
    </tr>
    </tbody>
  </table>
</section>
